<div class="container">
  <h1>🐶 Buscador de Perritos 🐶</h1>

  <div class="search-box">
    <label>Elige una raza: </label>
    <select (change)="buscarPerros($event)">
      <option value="" disabled selected>-- Selecciona --</option>
      <option *ngFor="let raza of listadoRazas" [value]="raza">
        {{ raza | titlecase }}
      </option>
    </select>
  </div>

  <div class="gallery">
    <div *ngFor="let foto of fotosPerros" class="card">
      <img [src]="foto" alt="Foto de perro">
    </div>
  </div>
</div>