<div class="container mt-5" id="contact-info">
    <div class="card-header bg-primary text-white text-center mb-4 bg-white shadow rounded">
        <h1>Contacto</h1>
        <p>Creado por: <strong>Alba Vazquez Guillen</strong></p>
        <p>Email: albavazquezguillen12&#64;gmail.com</p>
        <p>GitHub: <a href="https://github.com/AlbaVazquez" target="_blank">AlbaVazquez</a></p>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3>Contacta con nosotros</h3>
                </div>
                <div class="card-body">

                    <div *ngIf="mensajeEnviado" class="alert alert-success">
                        ¡Mensaje enviado correctamente!
                    </div>

                    <form [formGroup]="contactForm" (ngSubmit)="enviarFormulario()">

                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" formControlName="email">
                            <div class="invalid-feedback">
                                Introduce un email válido.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mensaje</label>
                            <textarea class="form-control" rows="4" formControlName="mensaje"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary w-100" [disabled]="contactForm.invalid">
                            Enviar Datos
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>