/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://media.istockphoto.com/id/1063936696/es/v%C3%ADdeo/animaci%C3%B3n-bucle-de-volar-sobre-un-c%C3%A9sped-verde-en-4-k-ultra-hd.jpg?s=640x640&k=20&c=H2dgnw-bTyxMXc9pEGRA7XXcsdFuXT_POm3ITvBFj6Y=');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    opacity: 0.9;
}